
/RSS_feed_collector/__pycache__
/__pycache__
/LLM_interactions/__pycache__
LLM_interactions/test_gpt_rec.ipynb
/RSS_feed_collector/__pycache__
/RSS_feed_collector/__pycache__
*.sqlite3
/RSS_feed_collector/__pycache__
RSS_feed_collector/__pycache__/NewsRetriever.cpython-39.pyc
test*.ipynb
*.pyc
